@font-face {
  font-family: 'HelveticaNeue';
  src: url('./font/helvetica/helveticaneue.eot');
  src: url('./font/helvetica/helveticaneue.eot?#iefix') format("embedded-opentype"), url('./font/helvetica/helveticaneue.woff') format("woff"), url('./font/helvetica/helveticaneue.ttf') format("truetype"), url('./font/helvetica/helveticaneue.svg#HelveticaNeue') format("svg");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'HelveticaNeueUltraLight';
  src: url('./font/helvetica/helveticaneueultralight.eot');
  src: url('./font/helvetica/helveticaneueultralight.eot?#iefix') format("embedded-opentype"), url('./font/helvetica/helveticaneueultralight.woff') format("woff"), url('./font/helvetica/helveticaneueultralight.ttf') format("truetype"), url('./font/helvetica/helveticaneueultralight.svg#HelveticaNeueUltraLight') format("svg");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'gothamNarrowBold';
  src: url('./font/gothamNarrow/gothamNarrowBold.ttf') format("truetype"), url('./font/gothamNarrow/gothamNarrowBold.otf') format("truetype");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'gothamNarrowBook';
  src: url('./font/gothamNarrow/gothamNarrowBook.ttf') format("truetype"), url('./font/gothamNarrow/gothamNarrowBook.otf') format("truetype");
  font-weight: normal;
  font-style: normal;
}