.wega-container-wrapper {
    padding: 0;
    overflow: hidden;
} 

.wega-sticky-header {
    + .wega-container-wrapper {
        margin: 140px 0 0;

        @media screen and (max-width: $screen-sm-max) {
            margin: 80px 0 0;
        }

        @media screen and (max-width: $screen-xs-max) {
            margin: 60px 0 0;
        }
    }
}

.wega-sm-padding {
    @media screen and (max-width: $screen-sm-max) {
        padding-left: 45px;
        padding-right: 45px;
    }

    @media screen and (max-width: $screen-xs-max) {
        padding-left: 35px;
        padding-right: 35px;
    }
} 

.wega-sticky-header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #060f18;
  z-index: 100;
}

#logo {
  margin-top: 18px;
  padding: 7px 0;
  width: 112px;
  
  img {
    width: 100%;
    height: auto;
  }

  @media screen and (max-width: $screen-md-max) {
      margin-left: 0;
  }

  @media screen and (max-width: $screen-sm-max) {
      width: 85px;
      margin-top: 12px;
  }

  @media screen and (max-width: $screen-xs-max) {
      width: 75px;
  }

}

.tagline {
    margin: 21px 0 0 25px;
    padding: 7px 0 7px 25px;
    width: 180px;
    border-left: 1px solid #808080;

    img {
        width: 100%;
        height: auto;
    }
    
    @media screen and (max-width: $screen-md-max) {
        margin: 20px 0 0 15px;
        padding-left: 15px;
    }

    @media screen and (max-width: $screen-sm-max) {
        width: 140px;
        margin: 15px 0 0 10px;
        padding: 5px 0 5px 10px;
    }
}

#nav {
  padding: 20px 0;
  margin: 0 -5px;
  position: relative;

  > li {
      float: left;
      margin: 0 5px;

      &:not(:last-child) {
          @media screen and (max-width: $screen-sm-max) {
              display: none;
          }
      }

      &:last-child {
          margin-right: 0;
      }
  }

    #ham_button_nav {
        position: absolute;
        top: 22px;
        right: -50px;

        img {
            height: 22px;
            margin: 7px 0 0 30px;

            @media screen and (max-width: $screen-sm-max) {
                height: 18px;
            }
        }

        @media screen and (max-width: $screen-sm-max) {
            position: static;
        }
    }

    @media screen and (max-width: $screen-sm-max) {
        padding: 14px 0;
    }
}

#carousel {
    .owl-carousel {
        padding-bottom: 40px;

        .wega-slide {
            overflow: hidden;

            // .wega-image-container {
            //     img {
            //         @media screen and (max-width: $screen-md-max) {
            //             display: inline;
            //             width: 60%;
            //         }
            //     }

            //     @media screen and (max-width: $screen-md-max) {
            //         text-align: center;
            //     }
            // }

            // .wega-flex-layout {
            //     .wega-align-bottom {
            //         @media screen and (max-width: $screen-sm-max) {
            //             display: block;
            //         }
            //     }

            //     @media screen and (max-width: $screen-sm-max) {
            //         display: block;
            //     }
            // }
        }

        .wega-slide1 {
            background: url('../img/slider/waves.png') no-repeat center center;
            background-size: 100% auto;

            .wega-align {
                text-align: center;
            }

            .wega-image-container {
                text-align: center;

                img {
                    display: inline-block;

                    @media screen and (max-width: $screen-md-max) {
                        max-width: 70%;
                    }

                    @media screen and (max-width: $screen-sm-max) {
                        max-width: 60%;
                    }

                    @media screen and (max-width: $screen-xs-max) {
                        max-width: 90%;
                    }
                }
            }

            @media screen and (max-width: $screen-xs-max) {
                background-size: 250% auto;
            }

            @media screen and (max-width: $screen-xs-min) {
                background-size: 350% auto;
            }
        }

        .wega-slide2 {
            background: url('../img/slider/field-with-lights.jpg') no-repeat center center;
            background-size: 100% auto;

            .wega-image-container {
                text-align: right;

                img {
                    display: inline-block;

                    @media screen and (max-width: $screen-md-max) {
                        max-width: 80%;
                    }

                    @media screen and (max-width: $screen-sm-max) {
                        max-width: 85%;
                    }

                    @media screen and (max-width: $screen-xs-max) {
                        max-width: 50%;
                    }

                    @media screen and (max-width: $screen-xs-min) {
                        max-width: 65%;
                    }
                }

                @media screen and (max-width: $screen-sm-max) {
                    text-align: center;
                }
            }

            .wega-shop-online {
                .app-store {
                    margin-bottom: 20px;

                    img {
                        @media screen and (max-width: $screen-xs-max) {
                            max-width: 50%;
                        }
                    }
                }

                .google-play {
                    margin-bottom: 60px;

                    img {
                        @media screen and (max-width: $screen-xs-max) {
                            max-width: 50%;
                        }
                    }

                    @media screen and (max-width: $screen-xs-max) {
                        margin-bottom: 30px;
                    }
                }

                @media screen and (max-width: $screen-xs-max) {
                    text-align: center;
                }

                @media screen and (max-width: $screen-xs-min) {
                    margin-top: -20px;
                }
            }

            @media screen and (max-width: $screen-xs-max) {
                background-size: 150% auto;
            }

            @media screen and (max-width: $screen-xs-min) {
                background-size: 200% auto;
            }
        }

        .wega-slide3 {
            background: url('../img/slider/pitch-light-top-bg.jpg') no-repeat right top;
            background-size: 100% auto;

            .wega-content {
                h1 {
                    span {
                        display: block;

                        @media screen and (max-width: $screen-xs-max) {
                            display: inline;
                        }
                    }
                }

                @media screen and (max-width: $screen-xs-max) {
                    margin-bottom: 20px;
                    text-align: center;
                }
            }

            .wega-image-container {
                text-align: center;

                img {
                    display: inline-block;

                    @media screen and (max-width: $screen-xs-max) {
                        max-width: 85%;
                    }

                    @media screen and (max-width: $screen-xs-min) {
                        max-width: 100%;
                    }
                }
            }

            @media screen and (max-width: $screen-xs-max) {
                background-position-y: center;
                background-size: 150% auto;
            }
        }
    }

    .owl-controls {
        bottom: 0;
    }
}

.section {
    position: relative;

    .wega-skew {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        .wega-bg {
            position: absolute;
            top: -70px;
            right: 0;
            bottom: -70px;
            left: 0;
        }
    }

    .wega-content {
        margin: 160px 0;

        @media screen and (max-width: $screen-md-max) {
            margin: 140px 0;
        }

        @media screen and (max-width: $screen-sm-max) {
            margin: 100px 0;
        }

        @media screen and (max-width: $screen-xs-max) {
            margin: 80px 0;
        }

        @media screen and (max-width: $screen-xs-min) {
            margin: 60px 0;
        }
    }
}

.wega-3dsa-card {
    .wega-skew {
        .wega-bg {
            background: #0a1b2b url('../img/section-3dsa-pitch-bg.jpg') no-repeat bottom center;
            background-size: 110% auto;

            @media screen and (max-width: $screen-md-max) {
                background-size: 140% auto;
            }

            @media screen and (max-width: $screen-sm-max) {
                background-size: 170% auto;
            }

            @media screen and (max-width: $screen-xs-max) {
                background-size: 250% auto;
            }
        }
    }
    .wega-image-container {
        text-align: center;
        
        img {
            display: inline-block;
        }
    }
}

.collapsible-items {
    overflow: hidden;
    padding: 60px 0;

    .tabs {
        .tab {
            .tab-icon {
                width: 94px;
                height: 94px;
                display: inline-block;

                &.crown {
                    background: url('../img/icon-sprite.png') no-repeat 0 0;
                    background-size: 100% auto;
                }

                @media screen and (max-width: $screen-xs-max) {
                    width: 70px;
                    height: 70px;
                }
            }

            .tab-title {
                font-size: 1.6rem;
                color: #fff;
                display: block;
                margin: 15px 0 0;
            }
        }

        @media screen and (max-width: $screen-xs-max) {
            margin: 0 -15px;
        }
    }

    @media screen and (max-width: $screen-sm-max) {
        padding: 40px 0;
    }

    @media screen and (max-width: $screen-xs-max) {
        padding: 30px 0;
    }
}

.collapsible-content {
    .pane {
        overflow: hidden;
        
        h3 {
            color: #fff;
        }

        .wega-image-container {
            margin-right: 40px;
            text-align: right;

            img {
                display: inline-block;
            }

            @media screen and (max-width: $screen-sm-max) {
                margin-right: 0;
                text-align: center;
            }
        }
    }

    &.transfer-money {
        .wega-skew {
            .wega-bg {
                background: url('../img/light-speed-bg.jpg') no-repeat center center;
                background-size: auto 100%;
            }
        }

        .pane {
            .wega-image-container {
                img {
                    @media screen and (max-width: $screen-md-max) {
                        max-width: 80%;
                    }

                    @media screen and (max-width: $screen-sm-max) {
                        max-width: 85%;
                    }

                    @media screen and (max-width: $screen-xs-max) {
                        max-width: 50%;
                    }

                    @media screen and (max-width: $screen-xs-min) {
                        max-width: 65%;
                    }
                }
            }
        }
    }

    &.sing-a-song {
        .wega-skew {
            .wega-bg {
                background: -webkit-linear-gradient(#0e2f60, #6096c5);
                background: -moz-linear-gradient(#0e2f60, #6096c5);
                background: -o-linear-gradient(#0e2f60, #6096c5);
                background: linear-gradient(#0e2f60, #6096c5);
                background-image: url('../img/waves.png'), -webkit-linear-gradient(#0e2f60, #6096c5);
                background-image: url('../img/waves.png'), -moz-linear-gradient(#0e2f60, #6096c5);
                background-image: url('../img/waves.png'), -o-linear-gradient(#0e2f60, #6096c5);
                background-image: url('../img/waves.png'), linear-gradient(#0e2f60, #6096c5);
                background-position: center center;
                background-repeat: no-repeat;
                background-size: 100% auto;
            }
        }
    }

    &.more {
        .wega-skew {
            .wega-bg {
                background: -webkit-linear-gradient(#0e2f60, #6096c5);
                background: -moz-linear-gradient(#0e2f60, #6096c5);
                background: -o-linear-gradient(#0e2f60, #6096c5);
                background: linear-gradient(#0e2f60, #6096c5);
            }
        }

        h1 {
            text-align: center;

            @media screen and (max-width: $screen-xs-max) {
                margin-left: 30px;
                margin-right: 30px;
            }
        }

        .pane {
            margin: 0 -30px;

            .media-with-text {
                margin-left: 30px;
                margin-right: 30px;
            }
        }
    }
}
