$screen-xl-max: 1440px;

.wega-container-wrapper {
    padding: 0;
    overflow: hidden;
}

.wega-sticky-header {
    + .content-page {
        margin: 140px 0 0;

        @media screen and (max-width: $screen-sm-max) {
            margin: 80px 0 0;
        }

        @media screen and (max-width: $screen-xs-max) {
            margin: 60px 0 0;
        }
    }
}

.content-page + .wega-primary-footer {
    margin-top: 0;
}

.wega-sm-padding {
    @media screen and (max-width: $screen-sm-max) {
        padding-left: 45px;
        padding-right: 45px;
    }

    @media screen and (max-width: $screen-xs-max) {
        padding-left: 35px;
        padding-right: 35px;
    }
} 

.wega-sticky-header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #060f18;
  z-index: 100;
}

#logo {
  margin: 28px 0 0;
  padding: 7px 0;
  width: 112px;
  
    img {
        width: 100%;
        height: auto;
    }

    @media screen and (max-width: $screen-xl-max) {
        margin: 23px 0 0;
    }

    @media screen and (max-width: $screen-md-max) {
        width: 85px;
        margin: 28px 0 0;
    }

    @media screen and (max-width: $screen-sm-max) {
        margin: 20px 0 0;
    }

    @media screen and (max-width: $screen-xs-max) {
        width: 75px;
        margin: 11px 0 0;
    }
}

.tagline {
    margin: 30px 0 0 25px;
    padding: 7px 0 7px 25px;
    width: 180px;
    border-left: 1px solid #808080;

    img {
        width: 100%;
        height: auto;
    }

    @media screen and (max-width: $screen-xl-max) {
        margin: 25px 0 25px 25px;
    }
    
    @media screen and (max-width: $screen-md-max) {
        margin: 27px 0 0 15px;
        padding-left: 15px;
    }

    @media screen and (max-width: $screen-sm-max) {
        margin: 23px 0 0 10px;
        padding: 2px 0 2px 10px;
    }

    @media screen and (max-width: $screen-xs-max) {
        width: 140px;
        margin: 17px 0 0 14px;
        padding: 3px 0 3px 10px;
    }
}

#nav {
  padding: 33px 0 32px;
  margin: 0 -5px;
  position: relative;

  > li {
      float: left;
      margin: 0 5px;

      &:not(:last-child) {
          @media screen and (max-width: $screen-sm-max) {
              display: none;
          }
      }

      &:last-child {
          margin-right: 0;
      }
  }

    #ham_button_nav {
        position: absolute;
        top: 22px;
        right: -50px;

        img {
            height: 22px;
            margin: 18px 0 0 30px;

            @media screen and (max-width: $screen-xl-max) {
                margin: 15px 0 0 30px;
            }

            @media screen and (max-width: $screen-sm-max) {
                height: 18px;
                margin: 0 0 0 30px;
            }
        }

        @media screen and (max-width: $screen-sm-max) {
            position: static;
        }
    }

    @media screen and (max-width: $screen-xl-max) {
        padding: 30px 0;
    }
    
    @media screen and (max-width: $screen-md-max) {
        padding: 30px 0;
    }

    @media screen and (max-width: $screen-sm-max) {
        padding: 28px 0 27px;
    }

    @media screen and (max-width: $screen-xs-max) {
        padding: 17px 0 16px;
    }
}

#carousel {
    .owl-carousel {
        margin: 140px 0 -60px;

        .wega-slide {
            overflow: hidden;
        }

        .wega-slide1 {
            background: url('../img/slider/waves.png') no-repeat center center;
            background-size: 100% auto;

            .wega-align {
                text-align: center;
            }

            h1 {
                margin-bottom: 60px;

                @media screen and (max-width: $screen-xl-max) {
                    margin-bottom: 40px;
                }
            }

            .wega-image-container {
                text-align: center;

                img {
                    display: inline-block;
                    max-width: 50%;

                    @media screen and (max-width: $screen-md-max) {
                        max-width: 60%;
                    }

                    @media screen and (max-width: $screen-sm-max) {
                        max-width: 60%;
                    }

                    @media screen and (max-width: $screen-xs-max) {
                        max-width: 100%;
                    }
                }
            }

            .horizontal-menu {
                margin-top: -20px;
                margin-bottom: 140px;

                @media screen and (max-width: $screen-xl-max) {
                    margin-bottom: 100px;
                }

                @media screen and (max-width: $screen-md-max) {
                    margin-bottom: 140px;
                }

                @media screen and (max-width: $screen-xs-max) {
                    margin-top: 0;
                    margin-bottom: 100px;
                }
            }

            @media screen and (max-width: $screen-xs-max) {
                background-size: 250% auto;
            }

            @media screen and (max-width: $screen-xs-min) {
                background-size: 350% auto;
            }
        }

        .wega-slide2 {
            background: url('../img/slider/field-with-lights.jpg') no-repeat center center;
            background-size: 1574px auto;

            h1 {
                span {
                    display: block;

                    // @media screen and (max-width: $screen-sm-max) {
                    //     display: inline;
                    // }
                }
            }

            .wega-image-container {
                text-align: right;

                img {
                    display: inline-block;

                    @media screen and (max-width: $screen-xl-max) {
                        max-width: 55%;
                    }

                    @media screen and (max-width: $screen-md-max) {
                        max-width: 70%;
                    }

                    @media screen and (max-width: $screen-sm-max) {
                        max-width: 75%;
                    }

                    @media screen and (max-width: $screen-xs-max) {
                        max-width: 40%;
                    }

                    @media screen and (max-width: $screen-xs-min) {
                        max-width: 50%;
                    }
                }

                @media screen and (max-width: $screen-xs-max) {
                    text-align: center;
                }

                @media screen and (max-width: $screen-xs-max) {
                    margin-bottom: -60px;
                }

                @media screen and (max-width: $screen-xs-min) {
                    margin-bottom: -40px;
                }
            }

            .horizontal-menu {
                margin-top: 30px;
            }

            .wega-shop-online {
                .app-store {
                    margin-bottom: 20px;

                    img {
                        display: inline-block;
                    }

                    @media screen and (max-width: $screen-xs-max) {
                        width: 48%;
                        float: left;
                        margin-right: 2%;
                        text-align: right;
                    }
                }

                .google-play {
                    margin-bottom: 30px;

                    img {
                        display: inline-block;
                    }

                    @media screen and (max-width: $screen-xs-max) {
                        margin-bottom: 20px;
                        text-align: center;
                        width: 48%;
                        float: left;
                        margin-left: 2%;
                        text-align: left;
                    }
                }

                @media screen and (min-width: $screen-lg-min) and (max-width: $screen-xl-max) {
                    margin: 80px 0 260px;
                }

                @media screen and (max-width: $screen-xs-max) {
                    text-align: center;
                }

                @media screen and (max-width: $screen-xs-min) {
                    margin-top: -20px;
                }
            }

            @media screen and (min-width: $screen-lg-min) and (max-width: $screen-xl-max) {
                background-size: auto 100%;
            }

            @media screen and (max-width: $screen-lg-min) {
                background-size: auto 100%;
            }

            @media screen and (max-width: $screen-xs-max) {
                background-size: 150% auto;
            }

            @media screen and (max-width: $screen-xs-min) {
                background-size: 200% auto;
            }
        }

        .wega-slide3 {
            background: url('../img/slider/pitch-light-top-bg.jpg') no-repeat right top;
            background-size: 1318px auto;

            h1 {
                span {
                    display: block;
                }
            }

            .spacer {
                margin: 140px 0 260px;

                @media screen and (max-width: $screen-xl-max) {
                    margin: 100px 0 240px;
                }

                @media screen and (max-width: $screen-md-max) {
                    margin: 120px 0 200px;
                }

                @media screen and (max-width: $screen-xs-max) {
                    margin: 100px 0 80px;
                }

                @media screen and (max-width: $screen-xs-min) {
                    margin: 80px 0 100px;
                }
            }

            .wega-align {
                @media screen and (max-width: $screen-sm-max) {
                    text-align: center;
                }
            }

            .horizontal-menu {
                margin-top: 30px;
            }

            .wega-image-container {
                text-align: center;
                margin-top: 40px;

                img {
                    display: inline-block;

                    @media screen and (max-width: $screen-xs-max) {
                        max-width: 85%;
                    }

                    @media screen and (max-width: $screen-xs-min) {
                        max-width: 100%;
                    }
                }

                @media screen and (min-width: $screen-lg-min) and (max-width: 1700px) {
                    margin-top: 180px;
                }

                @media screen and (max-width: $screen-md-max) {
                    margin-top: 160px;
                }

                @media screen and (max-width: $screen-sm-max) {
                    margin-top: 160px;
                }

                @media screen and (max-width: $screen-xs-max) {
                    margin-top: 140px;
                }

                @media screen and (max-width: $screen-xs-min) {
                    margin-top: 0;
                }
            }

            @media screen and (max-width: $screen-xs-max) {
                background-position-y: center;
                background-size: 150% auto;
            }
        }

        .wega-slide4 {
            background: url('../img/slider/waves.png') no-repeat center center;
            background-size: 100% auto;

            .wega-align {
                text-align: center;
            }

            h1 {
                margin-bottom: 60px;

                @media screen and (max-width: $screen-xl-max) {
                    margin-bottom: 40px;
                }
            }

            .wega-image-container {
                text-align: center;

                img {
                    display: inline-block;
                    max-width: 70%;

                    @media screen and (max-width: $screen-sm-max) {
                        max-width: 85%;
                    }

                    @media screen and (max-width: $screen-xs-max) {
                        max-width: 40%;
                    }
                }
            }

            @media screen and (max-width: $screen-xs-max) {
                background-size: 250% auto;
            }

            @media screen and (max-width: $screen-xs-min) {
                background-size: 350% auto;
            }
        }

        @media screen and (max-width: $screen-md-max) {
            margin: 120px 0 -80px;
        }

        @media screen and (max-width: $screen-xs-max) {
            margin: 80px 0 -20px;
        }
    }

    .owl-controls {
        bottom: 120px;

        @media screen and (max-width: $screen-xl-max) {
            bottom: 100px;
        }

        @media screen and (max-width: $screen-md-max) {
            bottom: 100px;
        }

        @media screen and (max-width: $screen-xs-max) {
            bottom: 60px;
        }
    }
}

.section {
    position: relative;

    .wega-skew {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        .wega-bg {
            position: absolute;
            top: -70px;
            right: 0;
            bottom: -70px;
            left: 0;
        }
    }

    .wega-content {
        margin: 100px 0;
        overflow: hidden;

        &.compensate-footer {
            margin-bottom: 180px;
        }

        @media screen and (max-width: $screen-md-max) {
            margin: 80px 0;
        }

        @media screen and (max-width: $screen-xs-min) {
            margin: 60px 0;
        }
    }
}

.wega-3dsa-card,
.wega-virtual-card,
.how-does-it-work,
.become-unconditional-citizen {
    .wega-skew {
        .wega-bg {
            background: #0a1b2b url('../img/section-3dsa-pitch-bg.jpg') no-repeat center center;
            background-size: 1600px auto;

            @media screen and (max-width: $screen-sm-max) {
                background-size: 120% auto;
            }

            @media screen and (max-width: $screen-xs-max) {
                background-size: 200% auto;
            }
        }
    }

    h1 {
        margin-bottom: 60px;

        @media screen and (max-width: $screen-xl-max) {
            margin-bottom: 20px;
        }

        @media screen and (max-width: $screen-xs-max) {
            margin-bottom: 30px;
        }
    }

    .wega-image-container {
        text-align: center;
        
        img {
            display: inline-block;
        }
    }
}

.become-unconditional-citizen {
  .wega-image-container {
    margin-top: 160px;

    @media screen and (max-width: $screen-md-max) {
      margin-top: 220px;
    }

    @media screen and (max-width: $screen-sm-max) {
      margin-top: 20px;
    }
  }

  .wega-content {
    margin-bottom: 0;

    @media screen and (max-width: $screen-sm-max) {
      margin-bottom: -20px;
    }
  }
}

.wega-3dsa-card {
    h1 {
        @media screen and (max-width: $screen-xl-max) {
            margin-bottom: 30px;
        }
    }    

    .wega-card-cta {
      text-align: left;

      .wega-from {
        color: #fff;
        font-size: 20px;
        font-weight: bold;
        display: block;
        text-transform: uppercase;
        margin: 40px 0 0;

        @media screen and (max-width: $screen-sm-max) {
          margin: 0;
          text-align: center;
        }
      } 

      .wega-value {
        color: #fff;
        font-size: 24px;
        font-weight: bold;
        display: block;
        text-transform: uppercase;
        margin: 0 0 15px;

        @media screen and (max-width: $screen-sm-max) {
            text-align: center;
        }
      }

      @media screen and (max-width: $screen-sm-max) {
          text-align: center;
      }
    }

    .wega-image-container {   
      text-align: right;

      img {
        max-width: 355px;
        display: inline-block;

        @media screen and (max-width: $screen-md-max) {
            max-width: 300px;
        }

        @media screen and (max-width: $screen-sm-max) {
            max-width: 320px;
        }

        @media screen and (max-width: $screen-xs-max) {
            max-width: 80%;
        }
      }

      @media screen and (max-width: $screen-sm-max) {
          text-align: center;
      }
    }

    .tabs {
        .tab {
            width: 20%;

            @media screen and (max-width: $screen-xs-max) {
                width: 33.33%;
            }

            &:nth-child(4),
            &:nth-child(5) {
                @media screen and (max-width: $screen-xs-max) {
                    width: 50%;
                }
            }
        }
    }
}

.wega-virtual-card {
    .wega-card-cta {
      text-align: left;

      .wega-from {
        color: #fff;
        font-size: 20px;
        font-weight: bold;
        display: block;
        text-transform: uppercase;
        margin: 140px 0 0;

        @media screen and (max-width: $screen-sm-max) {
          margin: 0;
          text-align: center;
        }
      } 

      .wega-value {
        color: #fff;
        font-size: 24px;
        font-weight: bold;
        display: block;
        text-transform: uppercase;
        margin: 0 0 15px;

        @media screen and (max-width: $screen-sm-max) {
            text-align: center;
        }
      }

      @media screen and (max-width: $screen-sm-max) {
          text-align: center;
      }
    }

    .wega-image-container {
      text-align: right;
      margin-bottom: -30px;
      
      img {
        max-width: 200px;
        display: inline-block;

        @media screen and (max-width: $screen-md-max) {
            max-width: 200px;
        }

        @media screen and (max-width: $screen-sm-max) {
          max-width: 160px;
        }

        @media screen and (max-width: $screen-xs-min) {
            max-width: 45%;
        }
      }

      @media screen and (max-width: $screen-sm-max) {
        text-align: center;
      }
    }

    .tabs {
        .tab {
            width: 20%;

            @media screen and (max-width: $screen-xs-max) {
                width: 33.33%;
            }
        }
    }
}

.how-does-it-work {
  h1 {
    margin-bottom: 60px;

    @media screen and (max-width: $screen-xl-max) {
      margin-bottom: 40px;
    }
  }
    .wega-image-container {        
      img {
        display: inline-block;
        max-width: 70%;

        @media screen and (max-width: $screen-sm-max) {
            max-width: 85%;
        }

        @media screen and (max-width: $screen-xs-max) {
            max-width: 40%;
        }
      }
    }
    .tabs {
        .tab {
            width: 20%;

            @media screen and (max-width: $screen-xs-max) {
                width: 33.33%;
            }

            &:nth-child(4) {
              @media screen and (max-width: $screen-xs-max) {
                clear: both;
              }
            }

            &:nth-child(4),
            &:nth-child(5) {
                @media screen and (max-width: $screen-xs-max) {
                    width: 50%;
                }
            }
        }
    }
}

.collapsible-tabs {
    overflow: hidden;
    padding: 60px 0;

    .tabs {
        .row {
            margin: 0;
        }
        
        .tab {
            float: left;
            margin-bottom: 20px;
            cursor: pointer;

            .tab-title {
                font-size: 1.6rem;
                color: #fff;
                display: block;
                margin: 15px 0 0;
            }

            .icon {
              border-radius: 50%;
            }

            &.active {
              .icon {
                background-color: #79b1e0;
              }
            }

            &:hover {
              .icon {
                background-color: #79b1e0;
              }
            }
        }

        @media screen and (max-width: $screen-xs-max) {
            margin: 0 -15px;
        }
    }

    @media screen and (max-width: $screen-xl-max) {
        padding: 40px 0;
    }

    @media screen and (max-width: $screen-xs-max) {
        padding: 30px 0;
    }
}

.collapsible-content {
    display: none;

    .close {
        width: 60px;
        height: 60px;
        margin: 0 0 60px -30px;
        display: inline-block;
        background: url('../img/icons/close.png') no-repeat 0 0;
        background-size: 100% auto;
        position: relative;
        left: 50%;
        cursor: pointer;

        @media screen and (max-width: $screen-sm-max) {
            margin-bottom: 30px
        }

        @media screen and (max-width: $screen-xs-max) {
            width: 50px;
            height: 50px;
            margin-bottom: 20px;
            margin-left: -25px;
        }
    }
    .pane {
        overflow: hidden;
        display: none;

        &.is-visible {
            display: block;
        }

        .horizontal-menu {
            margin-top: 30px;
        }
    }

    &.vertical-media-text {
        .wega-skew {
            .wega-bg {
                background: -webkit-linear-gradient(#0e2f60, #6096c5);
                background: -moz-linear-gradient(#0e2f60, #6096c5);
                background: -o-linear-gradient(#0e2f60, #6096c5);
                background: linear-gradient(#0e2f60, #6096c5);
            }
        }

        .pane {            
            .wega-image-container {
                margin-right: 40px;
                text-align: right;

                img {
                    display: inline-block;

                    @media screen and (max-width: $screen-xl-max) {
                        max-width: 90%;
                    }

                    @media screen and (max-width: $screen-lg-min) {
                        max-width: 80%;
                    }

                    @media screen and (max-width: $screen-md-max) {
                        max-width: 90%;
                    }

                    @media screen and (max-width: $screen-sm-max) {
                        max-width: 60%;
                    }
                }

                &.narrow-width {
                  img {
                    max-width: 45%;
          
                    @media screen and (max-width: $screen-md-max) {
                      max-width: 60%;
                    }
          
                    @media screen and (max-width: $screen-sm-max) {
                        max-width: 70%;
                    }
          
                    @media screen and (max-width: $screen-xs-max) {
                        max-width: 40%;
                    }
                  }
                }

                @media screen and (max-width: $screen-xs-max) {
                    margin-right: 0;
                    margin-bottom: 60px;
                    text-align: center;
                }
            }

            .wega-text-container {
                h1 {
                    margin-top: 0;
                }
            }
        }
    }

    &.horizontal-media-text {
        .wega-skew {
            .wega-bg {
                background: -webkit-linear-gradient(#0e2f60, #6096c5);
                background: -moz-linear-gradient(#0e2f60, #6096c5);
                background: -o-linear-gradient(#0e2f60, #6096c5);
                background: linear-gradient(#0e2f60, #6096c5);
            }
        }

        .wega-image-container {
            margin-right: 40px;
            text-align: right;

            img {
                display: inline-block;

                @media screen and (max-width: $screen-xl-max) {
                    max-width: 90%;
                }

                @media screen and (max-width: $screen-lg-min) {
                    max-width: 80%;
                }

                @media screen and (max-width: $screen-md-max) {
                    max-width: 90%;
                }

                @media screen and (max-width: $screen-sm-max) {
                    max-width: 100%;
                }
            }

            @media screen and (max-width: $screen-xs-max) {
                margin-right: 0;
                margin-bottom: 40px;
                text-align: center;
            }
        }

        .wega-text-container {
            h1 {
                margin-top: 0;
            }
        }
    }

    &.centered {
        h1 {
            text-align: center;
        }

        .pane {
            .wega-image-container {
                margin-right: 0;
                text-align: center;
            }
        }
    }

    &.multiple-bg.facebox {
        .wega-skew {
            .wega-bg {
                background-image: none, -webkit-linear-gradient(#0e2f60, #6096c5);
                background-image: none, -moz-linear-gradient(#0e2f60, #6096c5);
                background-image: none, -o-linear-gradient(#0e2f60, #6096c5);
                background-image: none, linear-gradient(#0e2f60, #6096c5);
                background-repeat: no-repeat, no-repeat;
                background-position: -140px 100%, 0 0;
                background-size: 400px auto, 100% auto;

                @media screen and (max-width: $screen-md-max) {
                    background-position: -60px 99%, 0 0;
                    background-size: 360px auto, 100% auto;
                }

                @media screen and (max-width: $screen-sm-max) {
                    // background-position: -60px 98%, 0 0;
                    // background-size: 300px auto, 100% auto;
                }
            }
        }

        .media-with-text {
            .media-container {
                margin-top: 0;
            }

            .text-container {
                p {
                    margin-top: 10px;

                    @media screen and (max-width: $screen-xs-min) {
                        margin-top: 0;
                    }
                }
            }
        }
    }
}

.get-the-app {
    .wega-skew {
        .wega-bg {
            background: #121e2e url('../img/slider/waves.png') no-repeat center center;
            background-size: 100% auto;
        }
    }

    .flex-layout-align-center {
        @media screen and (max-width: $screen-xs-max) {
            display: inline;
        }
    }

    .with-country-code {
        .country-code {
            @media screen and (max-width: $screen-sm-max) {
                font-size: 1.6rem;
                line-height: 16px;
                background-image: none;
                padding-left: 10px;
            }

            @media screen and (max-width: $screen-xs-max) {
                font-size: 1.4rem;
            }
        }

        input.form-control {
            @media screen and (max-width: $screen-xs-max) {
                padding-left: 5px;
            }
        }

        @media screen and (max-width: $screen-xs-max) {
            margin-left: auto;
            margin-right: auto;
        }
    }

    .phone-input {
        input.form-control {
            padding-top: 0;
            padding-bottom: 0;
            
            @media screen and (max-width: $screen-sm-max) {
                font-size: 1.7rem;
                line-height: 16px;

                &::-webkit-input-placeholder {
                    font-size: 1.7rem;
                    line-height: 16px;
                }

                &::-moz-placeholder { /* Firefox 19+ */
                    font-size: 1.7rem;
                    line-height: 16px;
                }

                &:-ms-input-placeholder { /* IE 10+ */
                    font-size: 1.7rem;
                    line-height: 16px;
                }
            }

            @media screen and (max-width: $screen-xs-max) {
                font-size: 1.5rem;

                &::-webkit-input-placeholder {
                    font-size: 1.5rem;
                }

                &::-moz-placeholder { /* Firefox 19+ */
                font-size: 1.5rem;
                }

                &:-ms-input-placeholder { /* IE 10+ */
                    font-size: 1.5rem;
                }
            }
        }

        .btn {
            @media screen and (max-width: $screen-sm-max) {
                font-size: 1.6rem;
                padding-left: 15px;
                padding-right: 15px;
            }

            @media screen and (max-width: $screen-xs-max) {
                font-size: 1.4rem;
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }

    .wega-text-container {
        margin-top: -80px;

        @media screen and (max-width: $screen-xs-max) {
            text-align: center;
            margin-top: -40px;
        }
    }

    .wega-image-container {
        text-align: center;

        img {
            display: inline-block;

            @media screen and (max-width: $screen-xl-max) {
                max-width: 46%;
            }

            @media screen and (max-width: $screen-lg-min) {
                max-width: 60%;
            }

            @media screen and (max-width: $screen-md-max) {
                max-width: 54%;
            }

            @media screen and (max-width: $screen-sm-max) {
                max-width: 54%;
            }

            @media screen and (max-width: $screen-xs-max) {
                max-width: 30%;
            }

            @media screen and (max-width: $screen-xs-min) {
                max-width: 50%;
            }
        }

        @media screen and (max-width: $screen-sm-max) {
            text-align: center;
            margin-bottom: -40px;
        }
    }

    .app-store {
        margin-bottom: 20px;
        display: inline-block;
        margin-right: 20px;

        img {
            display: inline-block;
        }

        @media screen and (max-width: $screen-xs-max) {
            width: 48%;
            float: left;
            margin-right: 2%;
            text-align: right;
        }
    }

    .google-play {
        margin-bottom: 30px;
        display: inline-block;

        img {
            display: inline-block;
        }

        @media screen and (max-width: $screen-xs-max) {
            margin-bottom: 20px;
            text-align: center;
            width: 48%;
            float: left;
            margin-left: 2%;
            text-align: left;
        }
    }
}

.wega-primary-footer {
    background-color: #151b22;
    position: relative;
    margin-top: -80px;
    padding: 30px 0;

    a {
        color: #79b2e1;
        font-weight: bold;
    }

    .content {
        color: #fff;

        li {
            display: block;
            margin-bottom: 10px;

            a {
                cursor: pointer;
                font-size: 1.6rem;
            }
        }

        .address {
            margin-bottom: 10px;

            span {
                display: block;
                color: #fff;
                font-size: 1.6rem;
            }
        }

        .email {
            margin-top: 25px;
            color: #fff;

            .subtitle {
                font-size: 1.6rem;
            }
        }

        .phone {
            margin-top: 10px;
            color: #fff;

            .subtitle {
                font-size: 2.6rem;
                color: #fff;
            }
        }

        .social {
            margin-top: 10px;
            
            .twitter,
            .facebook {
                width: 40px;
                height: 40px;

            }
            
            .facebook {
                margin-right: 10px;
            }
        }

        .apps {
            .app-store,
            .google-play {
                margin: 20px 0 0 10px;
            }
        }
    }

    .vertical-line {
        position: relative;
        padding-left: 30px;

        &::before {
            position: absolute;
            top: 8px;
            left: 0;
            content: '';
            background-color: #4b5a6c;
            height: 35px;
            width: 1px;

            @media screen and (max-width: $screen-xs-max) {
                width: 0;
            }
        }

        @media screen and (max-width: $screen-xs-max) {
            padding-left: 0;;
        }
    }

    .footer_bottom {
        margin-top: 80px;

        a {
            cursor: pointer;
            font-size: 1.6rem;
        }

        p {
            font-size: 1.4rem;
            color: #60748a;
        }

        .horizontal-line {
            border-bottom: 1px solid #60748a;
            padding-bottom: 20px;
        }
    }

    @media screen and (max-width: $screen-md-max) {
        margin-top: -40px;
    }

    @media screen and (max-width: $screen-xs-max) {
        margin-top: -20px;
    }
}

.nav-primary {
    width: 340px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: auto;
    background: #060f18;
    z-index: 101;
    transition: transform 0.35s;
    transform: translate(100%, 0);

    &.is-visible {
        transform: translate(0, 0);
    }

    .icon {
        width: 24px;
        height: 24px;
    }

    .icon-close {
        position: absolute;
        top: 30px;
        right: 20px;
        background: url('../img/cross.png') no-repeat 0 0; 
        background-size: 24px auto;
    }

    .nav ul {
        padding: 100px 0 20px 30px;
        
        li {
            border-top: 1px solid #2a333c;
            padding: 15px 0;

            &:last-child {
                border-bottom: 1px solid #2a333c;
            }

            a {
                font-size: 1.8rem;
                color: #fff;
            }

            @media screen and (max-width: $screen-md-max) {
                padding: 10px 0;
            }
        }

        @media screen and (max-width: $screen-sm-max) {
            padding-top: 80px;
        }
    }

    @media screen and (max-width: $screen-xs-max) {
        width: 90%;
    }
}

.content-page {

    .part {
        max-width: 767px;
        margin-bottom: 107px;

        @media screen and (max-width: 1200px) {
            margin-bottom: 80px;
        }

        @media screen and (max-width: 767px) {
            margin-bottom: 30px;
        }
    }

    a {
        color: #51A7F0;
        border-bottom: none;
    }

}
