.wega-flex-layout {
    display: flex;

    .wega-align-bottom {
        display: flex;
        align-items: flex-end;
    }
}

.flex-layout-align-center {
    display: flex;
    flex-direction: row;
    align-items: center;

    @media screen and (max-width: $screen-xs-max) {
        flex-direction: column;
    }
} 

.wega-skew {
    transform: skewY(-4deg);
    overflow: hidden;
    backface-visibility: hidden;
    > * {
        transform: skewY(4deg);
        backface-visibility: hidden;
    }
}

.media-with-text {
    margin: 30px 0;
    overflow: hidden;

    .media-container {
        width: 94px;
        height: 94px;
        float: left;

        @media screen and (max-width: $screen-xl-max) {
            width: 70px;
            height: 70px;
        }
    }

    .text-container {
        margin-left: 124px;

        p {
            margin: 0;
            color: #fff;

            @media screen and (min-width: $screen-lg-min) {
                font-size: 2rem;
            }

            @media screen and (max-width: $screen-md-max) {
                font-size: 2rem;
            }

            @media screen and (max-width: $screen-sm-max) {
                font-size: 1.8rem;
            }

            @media screen and (max-width: $screen-xs-max) {
                font-size: 1.6rem;
            }
        }

        @media screen and (max-width: $screen-xl-max) {
            margin-left: 104px;
        }

        @media screen and (max-width: $screen-xs-max) {
            margin-left: 94px;
        }
    }

    @media screen and (max-width: $screen-xs-max) {
        margin: 20px 0;
    }
}

.wega-external-portal {
    position: fixed;
    top: 80px;
    right: 0;
    bottom: 0;
    left: 0;    
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    @media screen and (max-width: $screen-sm-max) {
        top: 53px;
    }
}

.form-control {
    height: 46px;
    font-size: 1.8rem;

    &::-webkit-input-placeholder {
        font-size: 1.8rem;
    }

    &::-moz-placeholder { /* Firefox 19+ */
       font-size: 1.8rem;
    }

    &:-ms-input-placeholder { /* IE 10+ */
        font-size: 1.8rem;
    }
}

.input-group-btn {
    display: table-cell;

    .btn {
        height: 46px; 
    }
}

.with-country-code {
    max-width: 450px;
    margin-bottom: 20px;

    .country-code {
        @extend .form-control;
        width: 1%;
        position: relative;
        vertical-align: middle;
        height: 46px;
        display: table-cell;
        border-width: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0; 
        line-height: 1;
        color: #333;
        padding-left: 42px;
        padding-right: 0;
        background: #fff url('../img/union-jack.png') no-repeat 10px center;
        background-size: 24px auto;
    }

    .form-control,
    .form-control:focus {
        border-width: 0;
        box-shadow: 0 0;
    }
}