.wega-flex-layout {
    display: flex;

    .wega-align-bottom {
        display: flex;
        align-items: flex-end;
    }
}

.flex-layout-align-center {
    display: flex;
    flex-direction: row;
    align-items: center;

    @media screen and (max-width: $screen-xs-max) {
        flex-direction: column;
    }
} 

.wega-skew {
    transform: skewY(-4deg);
    overflow: hidden;
    backface-visibility: hidden;
    > * {
        transform: skewY(4deg);
        backface-visibility: hidden;
    }
}

.icon {
    width: 94px;
    height: 94px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100% auto;

    @media screen and (max-width: $screen-xl-max) {
        width: 70px;
        height: 70px;
    }

    &.icon-crown {
        background-image: url('../img/icons/crown.png');
    }

    &.icon-speaker {
        background-image: url('../img/icons/speaker.png');
    }

    &.icon-more {
        background-image: url('../img/icons/more.png');
    }

    &.icon-globe {
        background-image: url('../img/icons/globe.png');
    }

    &.icon-people {
        background-image: url('../img/icons/people.png');
    }

    &.icon-package {
        background-image: url('../img/icons/package.png');
    }

    &.icon-phone {
        background-image: url('../img/icons/phone.png');
    }

    &.icon-rocket {
        background-image: url('../img/icons/rocket.png');
    }

    &.icon-padlock {
        background-image: url('../img/icons/padlock.png');
    }
}

.media-with-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 30px 0 60px;

    .media-container {
        width: 94px;
        height: 94px;

        @media screen and (max-width: $screen-xl-max) {
            width: 70px;
            height: 70px;
        }
    }

    .text-container {
        margin-left: 30px;

        p {
            margin: 0;
            color: #fff;

            @media screen and (min-width: $screen-lg-min) {
                font-size: 2rem;
            }

            @media screen and (max-width: $screen-md-max) {
                font-size: 2rem;
            }

            @media screen and (max-width: $screen-sm-max) {
                font-size: 1.8rem;
            }

            @media screen and (max-width: $screen-xs-max) {
                font-size: 1.5rem;
            }
        }

        @media screen and (max-width: $screen-xs-max) {
            margin-left: 20px;
        }
    }

    @media screen and (max-width: $screen-xs-max) {
        margin: 20px 0 30px;
    }
}

.wega-external-portal {
    position: fixed;
    top: 80px;
    right: 0;
    bottom: 0;
    left: 0;    
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    @media screen and (max-width: $screen-sm-max) {
        top: 53px;
    }
}